params {
    genomes {
        'hg38' {
	     bwa = "/Work/Projects/bisonex/dgenomes/genome-human/"
             dbsnp = "/Work/Projects/bisonex/dgenomes/dbsnp/dgenomes/dbsnp/GCF_000001405.40.gz"
             dbsnp_tbi               = "/Work/Projects/bisonex/dgenomes/dbsnp/dgenomes/dbsnp/GCF_000001405.40.gz.tbi"
             dbsnp_vqsr              = null
             dict                    = null
             fasta                   = "/Work/Projects/bisonex/dgenomes/genome-human/GCA_000001405.15_GRCh38_full_analysis_set.fna"
             fasta_fai               = "/Work/Projects/bisonex/dgenomes/genome-human/GCA_000001405.15_GRCh38_full_analysis_set.fna.fai"
             germline_resource       = null
             germline_resource_tbi   = null
             intervals               = null
             known_indels            = null
             known_indels_tbi        = null
             known_indels_vqsr       = null
             ngscheckmate_bed        = null
             snpeff_db               = null
             vep_cache_version       = null
             vep_genome              = null
             vep_species             = null
        }
    }
   
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Base directory for nf-core/modules test data
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

    // Input data : URL do not work ??? We use a local version
//    input = "../tests/fastq_single.csv"
    input = "/Work/Users/apraga/repro-sarek/sarek/tests/csv/3.0/fastq_single.csv"


    igenomes_ignore = true // our own genome
    genome          = 'hg38'
    skip_tools = 'baserecalibrator,fastqc,multiqc' // no quality check

}

process {
    executor = 'slurm'
    queue = 'smp'
    resourceLimits = [
        cpus: 4,
        time: '16.h'
    ]
}