igenomes_base = ''
params {
	genomes {
		'GRCh38-chr22' {
			bwa = "./tests/bwa-index-0.7.17-r1198-dirty/"
			dbsnp = ""
			dbsnp_tbi = ""
			dbsnp_vqsr = ""
			dict = "./tests/GRCh38_chr22.dict"
			fasta = "tests/GRCh38_chr22.fna"
			fasta_fai = "tests/GRCh38_chr22.fna.fai"
			germline_resource = ""
			germline_resource_tbi = ""
			known_snps = ""
			known_snps_tbi = ""
			known_snps_vqsr = ""
			known_indels = ""
			known_indels_tbi = ""
			known_indels_vqsr = ""
			snpeff_db = ""
			snpeff_genome = ""
		}
	}
	genome = 'GRCh38-chr22'
}
process {
	resourceLimits = [
		cpus: 2,
		memory: '7GB',
		time: '16.h'
	]
}
