[submodule "vep-human"]
	path = vep-human
	url = https://github.com/apraga/vep-human
	datalad-id = 75244065-c46c-4424-8432-43eaa00c92ea
	datalad-url = https://github.com/apraga/vep-human
[submodule "cadd"]
	path = cadd
	url = https://github.com/apraga/cadd
	datalad-id = 18ad1c60-9fd5-4432-bee4-1bf1ae5dc13f
	datalad-url = https://github.com/apraga/cadd
[submodule "clinvar"]
	path = clinvar
	url = https://github.com/apraga/clinvar
	datalad-id = d495a3d4-ad22-45b0-9b22-7b04ec00cd74
	datalad-url = https://github.com/apraga/clinvar
[submodule "genome-human"]
	path = genome-human
	url = https://github.com/apraga/genome-human
	datalad-id = 460329d5-25ca-476d-a32f-bf18f9033948
	datalad-url = https://github.com/apraga/genome-human
[submodule "dbsnp"]
	path = dbsnp
	url = https://github.com/apraga/dbsnp
	datalad-id = fcc4064f-76de-4bdb-9091-33924a39da4f
	datalad-url = https://github.com/apraga/dbsnp
